streamlit==1.38.0
st-static-export
st_mui_table
pandas
numpy==1.23.0
matplotlib
koreanize-matplotlib
seaborn
missingno
scikit-learn
xgboost
statsmodels
pmdarima
nltk
konlpy
scipy
plotly
python-dotenv
langchain
deep_translator
langchain-community>=0.1.0
tabulate
huggingface_hub
optuna
langchain_experimental
langchain_core
langchain_openai
openai